body {
  background-color: rgba(29, 45, 134, 0.84);
  opacity: 1;
  background: radial-gradient(circle, transparent 20%, rgba(29, 45, 134, 0.84) 20%, rgba(29, 45, 134, 0.84) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, rgba(29, 45, 134, 0.84) 20%, rgba(29, 45, 134, 0.84) 80%, transparent 80%, transparent) 22.5px 22.5px, linear-gradient(#ffffff 1.8px, transparent 1.8px) 0 -0.9px, linear-gradient(90deg, #ffffff 1.8px, rgba(29, 45, 134, 0.84) 1.8px) -0.9px 0;
  background-size: 45px 45px, 45px 45px, 22.5px 22.5px, 22.5px 22.5px;
}
h1{
  color: white;
}
#form-container {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #001b38;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0044b3;
}
